
@Include("horizontal-divider", Model)

<div class="horizontal-divider-whitespace">&nbsp;</div>

<table class="table-mail-header" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <span class="blurrable">
                    <img alt="logo" class="mail-logo" src="cid:logo" height="40" />
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="horizontal-divider-whitespace">&nbsp;</div>